
.modal{
	background: rgba(0,0,0,.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 2000;
}
.modal p{
	color: #fff;
	width: 70%;
	text-align: center;
	position: absolute;
	left: 15%;
	top: 50%;
	transform: translateY(-50%);
	margin: 0;
	font-size: 50px;
	font-weight: bold;

}
.divform{
	padding: 30px;
	margin:0 auto;
	background:rgba(184, 202, 238,.9);
	max-width: 30%;
	text-align: center;
}
.titulo{
	font-size: 30px;
	color: steelblue;
	font-weight: bold;
}
.btn{
	padding: 14px;
	font-size: 1.2em;
	color:#fff;
	background:rgba(6, 25, 62,.8);
}
label{
	font-weight: bold;
	
}

.cont {
  margin: .4em 0;
}
.cont label{
  width: 25%;
  float: left;
}
.headerC{
	
	background: rgba(7, 26, 65,.9);
	color:white;

}
.header_cliente{
	
	font-weight: bold;
	font-size: 3em;
	padding-top:90px;
	padding-left: 40px;
	
}
.perfil{
	
	background: rgba(190, 212, 241,.8);
	padding-top: 20px;
	font-family: sans-serif;
 	font-size: 110%;
  	font-style: oblique;
  	
  	text-align: center; 
}
.modificar{
	
	background:rgba(67, 96, 156,1);
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left:10px;
	padding-right:10px;
	font-size:120%;
	color:white;

}
 #cuerpo button:hover{
	background:rgba(67, 96, 156,.9);
}
.h{
	text-align: left;
}
